################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/Framework/v16
/.vs/slnx.sqlite
/src/mensagens/Mensagens.Infrastructure/obj/Debug
/src/documentos/Doc.Dominio/bin
/src/documentos/Doc.Infra.Cross/bin
/src/documentos/Doc.Infra.Cross/obj/Debug/netcoreapp2.0
/src/documentos/Doc.Infra.Cross/obj/Release/netcoreapp2.0
/src/documentos/Doc.Infra.Cross/obj
/src/documentos/Doc.Dominio/obj
/src/documentos/Doc.Infra.Data/bin
/src/documentos/Doc.Infra.Data/obj/Debug/netcoreapp2.0
/src/documentos/Doc.Infra.Data/obj/Release/netcoreapp2.0
/src/documentos/Doc.Infra.Data/obj
/src/documentos/Doc.Repositorio/bin
/src/documentos/Doc.Repositorio/obj/Debug/netcoreapp2.0
/src/documentos/Doc.Repositorio/obj/Release/netcoreapp2.0
/src/documentos/Doc.Repositorio/obj
/src/documentos/Doc.Service/.config
/src/documentos/Doc.Service/bin/Debug/netcoreapp2.0
/src/documentos/Doc.Service/bin/Release/netcoreapp2.0/Properties
/src/documentos/Doc.Service/bin/Release/netcoreapp2.0/win-x64
/src/documentos/Doc.Service/bin/Release/netcoreapp2.0
/src/documentos/Doc.Service/obj
/src/empresas/.vs/WpEmpresas
/src/empresas/WpEmpresas/.config
/src/empresas/WpEmpresas/bin
/src/empresas/WpEmpresas/obj
/src/empresas/WpEmpresas.Domains/bin
/src/empresas/WpEmpresas.Domains/obj/Debug/netcoreapp2.1
/src/empresas/WpEmpresas.Domains/obj/Release/netcoreapp2.1
/src/empresas/WpEmpresas.Domains/obj
/src/empresas/WpEmpresas.Entities/bin
/src/empresas/WpEmpresas.Entities/obj/Debug/netcoreapp2.1
/src/empresas/WpEmpresas.Entities/obj/Release/netcoreapp2.1
/src/empresas/WpEmpresas.Entities/obj
/src/empresas/WpEmpresas.Infraestructure/bin
/src/empresas/WpEmpresas.Infraestructure/obj
/src/empresas/WpEmpresas.Services/bin
/src/empresas/WpEmpresas.Services/obj
/src/financeiro/.vs/WpFinanceiro
/src/financeiro/WpFinanceiro/bin/Release/netcoreapp2.1
/src/financeiro/WpFinanceiro/obj
/src/financeiro/WpFinanceiro.Domains
/src/financeiro/WpFinanceiro.Entities/bin/Release/netcoreapp2.1
/src/financeiro/WpFinanceiro.Entities/obj/Debug/netcoreapp2.1
/src/financeiro/WpFinanceiro.Entities/obj/Release/netcoreapp2.1
/src/financeiro/WpFinanceiro.Entities/obj
/src/financeiro/WpFinanceiro.Infrastructure/bin/Release/netcoreapp2.1
/src/financeiro/WpFinanceiro.Infrastructure/obj/Debug/netcoreapp2.1
/src/financeiro/WpFinanceiro.Services/obj
/src/mensagens/.vs/Mensagens
/src/midias/WpMidias/bin
/src/midias/WpMidias/obj
/src/midias/WpMidias.Domains/bin
/src/midias/WpMidias.Domains/obj/Debug/netcoreapp2.1
/src/midias/WpMidias.Domains/obj/Release/netcoreapp2.1
/src/midias/WpMidias.Domains/obj
/src/midias/WpMidias.Entities/bin
/src/midias/WpMidias.Entities/obj
/src/midias/WpMidias.Infrastructure/bin
/src/midias/WpMidias.Services/bin
/src/midias/WpMidias.Services/obj
/src/midias/WpMidias.Infrastructure/obj
/src/principal/WebPixPrincipalAPI/.config
/src/mensagens/Mensagens.Domains/obj/Release
/src/financeiro/WpFinanceiro.Services/bin/Release/netcoreapp2.1
/src/financeiro/WpFinanceiro.Infrastructure/obj
/src/midias/.vs/WpMidias
/src/documentos/.vs/Doc/v16/Server/sqlite3
*.v2
*.suo
/src/admin/.vs/SaudeComVc_Home/v16/Server/sqlite3
/src/.vs
/src
/ServicePix.In/bin/Debug/netcoreapp3.1
/ServicePix.In/obj
